.card2{
    margin-left: 23%;
    margin-top: 2%;
}
.card-title{
    color: #E85E21;

}
.card-body{
    color: gray;
}
/* .btn{
    background-color: #FFCA2C;
    color:  black;
    margin-left: 29%;
    
} */